.socials-link-ftr {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #44454e;
    color: #ffffff;
  
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    /*outline: 1px solid red;*/
  }
.socials-icon-ftr {
    fill: currentColor;
  }
  
  .socials-link-ftr:hover,
  .socials-link-ftr:focus {
    background-color: var(--accent-color);
  }