:root {
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --item-color: #f5f4fa;
    --logo-black-color: #000000;
    --primary-bcg-color: #ffffff;
    --secondary-bcg-color: #2f303a;
    --card-set-gap: 30px;
  }